.container{
	max-width : none;
}
.wdi-red{
	color: #dd3247;
}
.login_box{
	background: #fff;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.main_area{
	margin-bottom: 5px;
	margin-top: 5px;
	background: #fff;
}
.btn_pop_announce:focus,
.btn_pop_announce{
	overflow:hidden;
	outline: none;
	box-shadow: none; 
	white-space: normal;
	word-wrap: break-word;
	font-size: 13px;
	margin-bottom: 2px;
}
  
.content_show_assign{
	border:1;
	background: #fff;
	color : #6c757d;
}
 
.assign-each{
	border: 0;
	background: #f5f5f5;
	margin: 10px;
}
.label_input{
	color: #dd3247;
	font-size: 14px;
	font-weight: bold;
}
.scrollbar-track::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
	border-radius: 10px; }
.scrollbar::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5; } 
.scrollbar-thumb::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color : #dd3247;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);}
