body{
	/*
	background: #dd3247;
	padding-top: 10%;
	*/
}
.login_box{
	background: #fff;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

/*상단,하단 바 제외한 가운데 영역*/
.main_area{
	margin-bottom: 5px;
	margin-top: 5px;
	background: #fff;
}
