body{
	/*
	background: #dd3247;
	padding-top: 10%;*/
}
.wdi-red{
	color: #dd3247;
}
.login-box{
	background: #fff;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*상단,하단 바 제외한 가운데 영역*/
.main-area{
	background: #fff;
}
/*로그아웃 버튼*/
.btn-log-out{
	border: 0;
	margin-left: 25px;
	margin-top: 10px;
	align-content: right;
	background: #f9f9f9;
	color: #6c757d;
	max-width: 60px;
	max-height: 30px;
}
/*로그아웃 버튼에 마우스 올릴 때*/
.btn-logout:hover{
	border-radius: 0;
	background: transparent;
	border: 1px solid #dd3247;
	color: #dd3247;
	max-width: 60px;
	max-height: 30px;
}

