body{
	/*
	background: #dd3247;
	padding-top: 10%;*/
}
.wdi-red{
	color: #dd3247;
}
.login-box{
	background: #fff;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*상단,하단 바 제외한 가운데 영역*/
.main-area{
	background: #fff;
}
/*로그아웃 버튼*/
.btn-log-out{
	border: 0;
	margin-left: 25px;
	margin-top: 10px;
	align-content: right;
	background: #f9f9f9;
	color: #6c757d;
	max-width: 60px;
	max-height: 30px;
}
/*로그아웃 버튼에 마우스 올릴 때*/
.btn-logout:hover{
	border-radius: 0;
	background: transparent;
	border: 1px solid #dd3247;
	color: #dd3247;
	max-width: 60px;
	max-height: 30px;
}
.btn-add{
	border:0;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
	font-weight: bold;
	background: #fff;
}
.btn-add:hover{
	font-weight: bold;
	background: #fff;
}
.btn-addSub{
	box-shadow: none;
	color: #dd3247;
	font-size: 11px;
	color: black;
}
.lowerbarCollapse{
}
#topbar {
	display: none;
}
#topbar.active {
	transition: all 0.5s;
}
.overlay {
    top: 0%;
    height: 60%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}



/*tatable_add 에서 가져온 거 */
.list-group-item{
	border-radius: 0;
	font-size: 12px;
	font-weight: bold;
	background: #e5e5e5;
}
.form-group{
	background: #fff;
}
.form-add{	
	display: none;
	background: #fff;
}
.form-add.active{
	background: #fff;
}
.label{
	text-align: left;
	font-size: 10px;
	font-weight: bold;
}
.input{
	border-radius: 0;
	box-shadow: none;
	outline: none;	
}
.input:focus{
	border-radius: 0;
	box-shadow: none;
	outline: none;	
	border-color: #dd3247;
	background-position: -500px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}