body{
	/*
	background: #dd3247;
	padding-top: 10%;*/
}
.wdi-red{
	color: #dd3247;
}
.login-box{
	background: #fff;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.app-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f9f9f9;
}
.app-header-logo {
	color: #dd3247;
	margin :8px;
}

.main-area{
	margin-bottom: 5px;
	margin-top: 5px;
	background: #fff;
}

.btn-logout{
	border-radius: 0;
	background: #dd3247;
	color: #fff;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
	font-size: 10px;
	max-width: 60px;
	max-height: 30px;
}
.btn-logout:hover{
	border-radius: 0;
	background: transparent;
	border: 1px solid #dd3247;
	color: #dd3247;
	max-width: 60px;
	max-height: 30px;
}
.app-footer {
    line-height: 1;
    border-top: 1px solid #e5e5e5;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
}
.btn-icon{
	border: 0;
	background: #f9f9f9;
	color: #6c757d;
}

.btn-log-out{
	border: 0;
	margin-left: 25px;
	margin-top: 10px;
	align-content: right;
	background: #f9f9f9;
	color: #6c757d;
}

.table-time{
	padding:0px;
	color : #6c757d;
	font-size: 12px;
}
