<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
 
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="com.homeworkNotice.dto.UserDto"/>
		<typeAlias alias="homework" type="com.homeworkNotice.dto.HomeworkDto"/>
	</typeAliases>
	
    <mappers>
        <mapper resource ="userMapper.xml"/>
        <mapper resource ="homeworkMapper.xml"/>
    </mappers >
</configuration>
